body {
  background-color: #1f1f1f;
  color: #d9d9d9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  border: 1px solid #0d0d0d;
  border-radius: 4px;
  padding: 8px;
  margin: 5px;
  font-size: 14px;
  background-color: #262626;
  color: #d9d9d9;
}

button {
  background-color: #990000;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #660000;
}

span.added {
  color: #009900;
}

span.removed {
  color: #cc0000;
}

select {
  border: 1px solid #0d0d0d;
  border-radius: 4px;
  padding: 8px;
  margin: 5px;
  font-size: 14px;
  background-color: #262626;
  color: #d9d9d9;
}

.language-select-wrapper,
.date-range-wrapper {
  margin: 10px 0;
}

label {
  margin: 5px;
}

#generatedLink {
  margin: 10px 5px;
  font-size: 14px;
  display: block;
  color: #d9d9d9;
  text-decoration: underline;
  cursor: pointer;
}

#generatedLink:hover {
  color: #a9a9a9;
}

@media (max-width: 600px) {
  button {
    margin: 5px 0;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    width: calc(100% - 16px);
  }
}
